*,
*::before,
*::after {
  box-sizing: border-box;
}

html{
    font-size: 100%;
    scroll-padding-top: 4rem;
    overflow-x: hidden;
    overflow-y: scroll;
}

ul, ol, li, a, h1, h2, h3, p, body, header, section, footer, .container, .container-fluid, .row, .col{
    margin: 0;
    padding: 0;
}

body{
    @include font ($font-principal, 400, normal, 1rem);
    color: map-get($colores, primero);
    background-color: map-get($colores, fondo);
    line-height: initial;
    width: 100%;
    height:100%;
    overflow-x: hidden;   
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

a:hover{
    color: map-get($colores, cuarto);
}

p, a, ul, ol, li, h1, h2, h3, table, label, input{
    transition: font-size 200ms;
}   

.section{      
    @include flexbox (column wrap, space-evenly, center);    
    text-align: center;   
    align-content:center;
}


/* overlay hero */
.landing{
    width: 100vw;
    height: calc(100vh - .5rem);
    overflow: hidden;
    position: relative;
}

.landing__video{
    width: 100%;   
    height: 100%;
    object-fit: cover;
    &--404{
        object-position: 15% 50%;
    }
}

.landing__overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: linear-gradient(270deg, rgba(25, 29, 50, .6),rgba(248, 18, 152, .6) , rgba(61, 184, 255, .6));
    opacity: 80%; 
    background-size: 200%;
}

.landing_overlay__text{
    margin-top: calc(4rem + 1vw + 1vh);
    color: map-get($colores, primero);
}
.text{
    &__p{
        @include font($font-principal, 400, italic, map-get($font-size, p));
        line-height: 0;
        animation: titulo 2500ms 1; 
    }
    
    &__h1{
        @include font($font-principal, 900, normal, map-get($font-size, h1));
        letter-spacing: calc(.5vw + .5vh);  
    } 
    
    &__h2{
        @include font($font-principal, 800, normal, map-get($font-size, h2));   
        width: 100%;
        background-color: map-get($colores, primero);   
        color: map-get($colores, cuarto);     
        padding-top: calc(2vw + 2vh);
        padding-bottom: calc(2vw + 2vh);
        margin: 0;
        text-shadow: 0 0 .4rem map-get($colores, segundo);
    }
    
    &__h3{
        @include font($font-principal, 800, normal, map-get($font-size, h3));  
        background-color:map-get($colores, primero);
        color: map-get($colores, cuarto);    
        width: 100%;
        text-shadow: 0 0 .4rem map-get($colores, segundo);
        text-align: center;
        margin-top: calc(2vw + 2vh);
    
        &--faq{
            @include font($font-principal, 600, italic, 1.4em);
            padding: .5rem;
            margin: 0;
            text-align: left; 
        }
    }
}

.lineaGradiente{
    width: 100%;
    height: .5rem;
    background: linear-gradient(270deg, map-get($colores, tercero), map-get($colores, segundo), map-get($colores, tercero));
    background-size: 500% 500%;
    animation: lineaGradienteAnimation 20000ms linear infinite;
}

/* INICIO CAROUSEL */
.carouselGallery{
    margin: calc(4vw + 4vh) auto calc(2vw + 2vh) auto;
    &__imgContainer{
        padding: 0;
    }

    &__img{
        border: .5rem solid transparent;
        border-image: linear-gradient(270deg, map-get($colores, tercero), map-get($colores, segundo), map-get($colores, tercero));
        border-image-slice: 1;     
        transition: 5ms;   
        margin: auto;
        width: 90%;
        max-width: 350px;
        min-width: 280px;
        height: auto; 
        box-sizing: content-box; 
        
        /* inicio antialiasing */
        outline: 1px solid transparent;  
        backface-visibility: hidden;
        transform: translateZ(0);
        will-change: transform;
        perspective: 1000;
        /* fin antialiasing */
        transform: skew(-5deg);
        animation: borderAnimation 2000ms linear infinite;
    }

    &__prev{
        left: -4%;
        &__icon{
            opacity: .5;
            background-color: rgba(25, 29, 50, .5);
        }
    }

    &__next{
        right: -4%;

        &__icon{
            opacity: .5;
            background-color: rgba(25, 29, 50, .5);
        }
    }

    &__video{
        margin: auto;
        border-radius: 0 0 calc(.5vw + .5vh) calc(.5vw + .5vh);
        width: 90%;
        max-width: 350px;
        min-width: MAX(280px, 90%);
        height: auto;     
        cursor: pointer;
        border: 0px solid transparent;
        border-top: 1rem solid transparent;
        border-image: linear-gradient(270deg, map-get($colores, tercero), map-get($colores, segundo), map-get($colores, tercero));
        border-image-slice: 1;    
        
        &:hover, &:focus, &:active{
            animation: borderAnimation 2000ms linear infinite;   
        }
    }  
}

.carouselGalleryB, .carouselGalleryC{
    display:none;
}
/* FIN CAROUSEL */


/* button reserva */
.bigButton{
    @include font($font-principal, 900, normal, calc(1.2rem + 1.8vw + 1.8vh)); 
    background: linear-gradient(270deg, map-get($colores, tercero), map-get($colores, segundo), map-get($colores, tercero));
    background-size: 200% 200%;
    color: map-get($colores, cuarto);
    border-radius: calc(1vw + 1vh); 
    padding: calc(.3rem + .3vw + .3vh);
    margin: calc(3vw + 3vh) auto calc(3vw + 3vh) auto;   
    cursor: pointer;
    display: inline-block;
    border: none;
    outline: .15rem solid white;
    outline-offset: .8rem;
    position: relative;
    text-align: center;
    transition: 300ms;
    max-width: 90%;
    
    &::before {
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
        margin: -.4rem; 
        border-radius: inherit;
        background: linear-gradient(270deg, map-get($colores, tercero), map-get($colores, segundo));
        background-size: 400%;
        animation: 4000ms buttonBorder infinite linear alternate;
        transition: 300ms;
      }
    
    &:hover, &:focus{
        animation: 4000ms buttonTextShadow linear infinite alternate-reverse, 4000ms lineaGradienteAnimation linear infinite alternate-reverse, 3000ms buttonBorder infinite linear alternate;
        transition: 300ms;      
        outline-offset: -.1rem;
    }

    &:active{
        animation: 2000ms buttonTextShadow linear infinite alternate-reverse, 3000ms lineaGradienteAnimation linear infinite alternate-reverse, 2000ms buttonBorder infinite linear alternate;
        padding-top: calc(.2rem + .2vw + .2vh);
        padding-bottom: calc(.2rem + .2vw + .2vh);
        transition: 150ms;
        margin: calc(3.1vw + 3.1vh + .1rem) auto calc(3.1vw + 3.1vh + .1rem) auto;  
    }
}

/* INICIO GRIDBOARD/HIDDEN MESSAGE */
.gridBoard{
    width: 100vw;
    height: 5vw; 
    min-height: 30px;   
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;
    cursor: pointer;
    
    position: relative;
    overflow: hidden;

    &__keyA{
        background-color: rgba(248, 18, 152, .75);
        width: 100%;
        height: 100%;
        opacity: 1;
        transition: background-color 500ms;

        &:hover{
            background-color: rgba(248, 18, 152, 1);
            transition: background-color 500ms;
        }
    }

    &__keyB{
        background-color: rgba(25, 29, 50, .75);
        width: 100%;
        height: 100%;
        opacity: 1;
        transition: background-color 500ms;

        &:hover{
            background-color: rgba(25, 29, 50, 1); 
            transition: background-color 500ms;
        }
    }

    div::after{
        @include font ($font-principal, 800, italic, calc(1rem + 2vw));
        @include flexbox (row wrap, center, center);
        content: "CRASH TATTOO STUDIO";
        color: rgba(255, 255, 255, 1);   
        position: absolute;
        inset: 0;
        left: -100vw;
        width: 100vw;
        height: 100%;
        opacity: 1;
        transition: left 1000ms;
        background: linear-gradient(270deg, rgba(248, 18, 152, .8), rgba(61, 184, 255, .8));  
    }

    div:active::after{
        left: 0;
        transition: left 1000ms;
    }
}
/* FIN GRIDBOARD/HIDDEN MESSAGE */


/* INICIO SCROLLBAR */

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, rgba(248, 18, 152, .7), rgba(61, 184, 255, .7));
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, rgba(248, 18, 152, 1), rgba(61, 184, 255, 1));
  }

  /* FIN SCROLLBAR */