.carouselGallery{
    margin: calc(4vw + 4vh) auto calc(2vw + 2vh) auto;

    &__imgContainer{
        padding: 0;
    }

    &__img{
        border: .5rem solid transparent;
        border-image: linear-gradient(270deg, map-get($colores, tercero), map-get($colores, segundo), map-get($colores, tercero));
        border-image-slice: 1;
        cursor: pointer;       
        transition: 5ms;   
        margin: auto;
        width: 90%;
        max-width: MIN(350px, 22vw);
        min-width: 280px;
        height: auto; 
        box-sizing: content-box; 
        
        /* inicio antialiasing */
        outline: 1px solid transparent;  
        backface-visibility: hidden;
        transform: translateZ(0);
        will-change: transform;
        perspective: 1000;
        /* fin antialiasing */
        
        transform: skew(-5deg);
        
        &:hover, &:focus{
            border: .5rem solid; 
            animation: borderAnimation 2000ms linear infinite;
            box-shadow: none;    
        }
    }

    &__prev{
        left: -4%;
        &__icon{
            opacity: .5;
            background-color: rgba(25, 29, 50, .5);
        }
    }

    &__next{
        right: -4%;

        &__icon{
            opacity: .5;
            background-color: rgba(25, 29, 50, .5);
        }
    }
    
}

.carouselGalleryB, .carouselGalleryC{
    display:none;
}

.artistas{
    margin: calc(2vw + 2vh) auto calc(2vw + 2vh) auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;

    &__tatuador{
        width: 80%;
        max-width: 350px;
        height: auto;     
        position: relative;
        margin: calc(1vw + 1vh) auto calc(2vw + 2vh) auto;
  
        &__img{
            border-radius: calc(.25vw + .25vh) calc(.25vw + .25vh) 0 0;
            width: 100%;
            height: auto;
        }

        &::after {
            content: '';
            position: absolute;
            inset: clamp(-.6rem, -.5vw, -.5rem);
            background: linear-gradient(270deg, map-get($colores, tercero), map-get($colores, segundo), map-get($colores, tercero));
            background-size: 200% 200%;   
            z-index: -1;
            border-radius: calc(.5vw + .5vh);
            transition: 200ms;     
        }

        &:hover::after, &:focus::after{  
            inset: clamp(-.45rem, -.4vw, -.4rem); 
            animation: lineaGradienteAnimation 2000ms linear infinite alternate-reverse;   
        }
        
        &:active::after, &:active::after{
            top: clamp(-.35rem, -.3vw, -.3rem); 
            bottom: clamp(-.35rem, -.3vw, -.3rem);
            left: clamp(-.35rem, -.3vw, -.3rem); 
            right: clamp(-.35rem, -.3vw, -.3rem);  
            animation: lineaGradienteAnimation 1000ms linear infinite alternate-reverse; 
        }
    }
}

.tatuador__details{
    @include flexbox(column wrap, space-evenly, stretch);
    background-color: map-get($colores, tercero);
    border-radius: 0 0 calc(.25vw + .25vh) calc(.25vw + .25vh);
    &__h3{
        @include font ($font-principal, bold, normal, 1.8rem);
        padding-top: calc(.2rem + .4vw + .4vh);
        color: map-get($colores, primero);
        margin: 0;  
    }
    
    &__p{
        @include font ($font-principal, 400, italic, 1.2rem);
        padding-bottom: calc(.2rem + .4vw + .4vh);
        color: map-get($colores, primero);   
        font-size: 1.2rem;
    }
}

