/* INICIO ARTISTAS CARDS */
.artistas{
    margin: calc(2vw + 2vh) auto calc(2vw + 2vh) auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;

    &__tatuador{
        position: relative;
        margin: calc(1vw + 1vh) auto calc(2vw + 2vh) auto;
        width: 80%;
        max-width: 350px;
        min-width: 280px;
        height: auto;     
        
        &__img{
            position: relative;
            border-radius: calc(.25vw + .25vh);
            width: 100%;
            height: auto;       
            max-height: calc(100vh - 6rem);
            min-height: 460px;
            aspect-ratio: 3 / 5;
        }
        
        &::after {
            content: '';
            position: absolute;
            inset: clamp(-.6rem, -.5vw, -.5rem);
            background: linear-gradient(270deg, map-get($colores, tercero), map-get($colores, segundo), map-get($colores, tercero));
            background-size: 200% 200%;   
            z-index: -1;
            border-radius: calc(.25vw + .25vh);
            transition: 200ms;     
        }

        &:hover::after, &:focus::after{  
            inset: clamp(-.45rem, -.4vw, -.4rem); 
            animation: lineaGradienteAnimation 2000ms linear infinite alternate-reverse;   
        }
        
        &:active::after, &:active::after{
            top: clamp(-.35rem, -.3vw, -.3rem); 
            bottom: clamp(-.35rem, -.3vw, -.3rem);
            left: clamp(-.35rem, -.3vw, -.3rem); 
            right: clamp(-.35rem, -.3vw, -.3rem);  
            animation: lineaGradienteAnimation 1000ms linear infinite alternate-reverse; 
        }

        &:hover .tatuador__details, &:focus .tatuador__details{
            filter: grayscale(0%);
            transition: filter 400ms;
        }
    }
}

.tatuador__details{
    @include flexbox(column wrap, space-evenly, stretch);
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(61, 184, 255, .5);
    border-radius: 0 0 calc(.25vw + .25vh) calc(.25vw + .25vh);
    filter: grayscale(80%);
    transition: filter 400ms;

    &__h3{
        @include font ($font-principal, bold, normal, 1.8rem);
        padding-top: calc(.2rem + .4vw + .4vh);
        color: map-get($colores, primero);
        margin: 0;  
    }
    
    &__p{
        @include font ($font-principal, 400, italic, 1.2rem);
        padding-bottom: calc(.2rem + .4vw + .4vh);
        color: map-get($colores, primero);   
        font-size: 1.2rem;
    }
}
/* FIN ARTISTAS CARDS */
