/* INICIO GALERIA - STUDIO */
.studioGallery{
    width: 100%;
    margin: 0 auto calc(2vw + 2vh) auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;    
    z-index: 1;  
}
/* FIN GALERIA - STUDIO */