$font-principal: 'Rubik', verdana, sans-serif;
$font-secundaria: 'Lora', 'Times New Roman', serif;

$font-size: (
    h1: calc(3.2rem + 6vw),
    h2: calc(1.6rem + 2.4vw),
    h3: calc(1.6rem + 2vw),
    p: calc(1rem + 2vw),
    faq: calc(.8rem + .26vw + .26vh),
    form: calc(1rem + .4vw + .4vh),
    footerLink: calc(10rem + 4vw),
    footerText: calc(.6rem + .8vw),
);

$colores: (
    primero: rgb(25, 29, 50),
    segundo: rgb(248, 18, 152),
    tercero: rgb(61, 184, 255),
    cuarto: rgb(255, 255, 255),
    quinto: rgb(14, 16, 26),
    fondo: rgb(255, 255, 255),
);


@mixin flexbox ($flow, $justify, $align){
    display: flex;
    flex-flow: $flow;
    justify-content: $justify;
    align-items: $align;
};

@mixin font ($family, $weight, $style, $size){
    font-family: $family;
    font-weight: $weight;
    font-style: $style;
    font-size: $size;
};